apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: stack-auth-test-secret
  namespace: six-degrees-apps
spec:
  refreshInterval: "15m"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: stack-auth-test-secret
    creationPolicy: Owner
  data:
    - secretKey: STACK_DATABASE_CONNECTION_STRING
      remoteRef:
        key: sixdegrees/stack-auth-test/secrets
        property: STACK_DATABASE_CONNECTION_STRING
    - secretKey: STACK_DIRECT_DATABASE_CONNECTION_STRING
      remoteRef:
        key: sixdegrees/stack-auth-test/secrets
        property: STACK_DIRECT_DATABASE_CONNECTION_STRING
    - secretKey: STACK_SERVER_SECRET
      remoteRef:
        key: sixdegrees/stack-auth-test/secrets
        property: STACK_SERVER_SECRET
